
.card {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #000;
}

.fileList {
  width: 300px;
  margin-top: 20px;
}

.clip {
  margin-right: 5px;
}

.file {
  cursor: pointer;
  margin: 10px auto;

  &:hover {
    background-color: #eee;
  }
}

.download {
  position: relative;
  float: right;
  margin-right: 15px;
}

.progress {
  position: relative;
  float: left;
}

.del {
  position: relative;
  float: right;
  margin-right: 5px;
}

.filename {
  color: #1890ff;
}

.error {
  color: #ff4d4f;
}

.pictureWrap {
  border: 1px solid rgb(155, 30, 30);
  height: 65px;
  line-height: 65px;
}

.picture {
  width: 50px;
  height: 50px;
  padding: 5px;
}

.pictureIcon {
  font-size: 30px;
  padding: 10px;
}
